.main-nav ul {
  display: flex;
  justify-content: flex-start; /* メニュー項目間のスペースを均等に配置 */
  list-style: none; /* リストの点を削除 */
  padding: 0; /* デフォルトのパディングを削除 */
  margin: 0; /* デフォルトのマージンを削除 */
}

.main-nav li {
  margin: 0 10px; /* 各メニュー項目のマージンを削除 */
}

.main-nav a {
  text-decoration: none; /* リンクの下線を削除 */
  display: inline-block; /* リンクをブロックレベル要素にする */
  padding: 10px; /* リンクのパディングを追加 */
}

.main-nav a:hover {
  background-color: #007acc; /* ホバー時の背景色 */
  color: white; /* ホバー時の文字色 */
  border-radius: 5px; /* ホバー時の角丸 */
}
.main-nav a.active {
  background-color: #005fa3; /* アクティブなリンクの背景色 */
  color: white; /* アクティブなリンクの文字色 */
  border-radius: 5px; /* アクティブなリンクの角丸 */
}
.main-nav a.active:hover {
  background-color: #005fa3; /* アクティブなリンクのホバー時の背景色 */
  color: white; /* アクティブなリンクのホバー時の文字色 */
  border-radius: 5px; /* アクティブなリンクの角丸 */
}
.main-nav a.active:focus {
  background-color: #005fa3; /* アクティブなリンクのフォーカス時の背景色 */
  color: white; /* アクティブなリンクのフォーカス時の文字色 */
  border-radius: 5px; /* アクティブなリンクの角丸 */
}
